@(signupForm: Form[Application.Signup])
@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }	

@main(title="Sign up") {
@helper.form(routes.Application.signup, 'class -> "form-horizontal") {
		        <fieldset>
		        	<legend>Sign up</legend>
		            @inputText(
						signupForm("username"), 
						'_label -> "Username",
						'_help -> " "
					)
					@inputText(
						signupForm("email"), 
						'_label -> "Email",
						'_help -> " "
					)
		            @inputPassword(
						signupForm("password"), 
						'_label -> "Password",
						'_help -> " "
					)
				</fieldset> 
		        <div class="control-group">
		    		<div class="controls">
		    			<button type="submit" class="btn">Sign up</button>
		    		</div>
		        </div>    
}
}